body {
  font-family: "Inter", sans-serif;

  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#grid {
  width: 768px;
  aspect-ratio: 1/1;

  box-sizing: content-box;

  display: flex;
  flex-wrap: wrap;

  border: 2px solid black;
}

.cell {
  aspect-ratio: 1/1;

  box-sizing: border-box;

  border: 1px solid #ddd;
  background-color: white;
}

#button {
  margin: 32px auto;

  font-family: inherit;
  font-size: 24px;
  text-transform: uppercase;

  color: black;
  background-color: white;
}

#button:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
